<h1 class="text-center">Featured Restaurants!</h1>
<div class="container">
    <div class="row">
        {{#each restaurants}}
        <div class="col-md-6 p-3">
            <div class="card">
                <div class="card-body">
                    <img src="{{photo}}" class="center">
                    <h5 class="card-title" style="color:rgb(255, 255, 255)">{{name}}</h5>
                    <h6 class="card-subtitle" style="color:rgb(58, 66, 176)">{{address}}</h6>
                    <p class="card-text" style="color: white;">{{description}}</p>
                   <p> <a href = "{{website}}" class="center">{{website}}</a></p>
                    <div class="text">
                         <p class="card-text" style="color: white">Phone number: {{phone_number}}</p>
                       <p class="card-text" style="color: white">Hours: {{hours}}</p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

