<h1 class="text-center">TableSpotter!</h1>
<div class="container">
    <div class="row">
        {{#each restaurants}}
        <div class="col-sm-6 p-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Address {{Address}}</h6>
                    <p class="card-text">{{description}}</p>
                    <div class="text-center">
                        <h4 class="mb-5"><span class="badge bg-secondary">Phone number {{Phone}}</span></h4>
                        <p>
                            <a href="/restaurants{{id}}" class="card-link"><button class="btn btn-primary">Search
                                    Restaurant</button></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
