<h1 class="text-center">TableSpotter!</h1>
<div class="container">
    <div class="row">
        <h5 class="card-title">{{firstName}}</h5>
        {{#each reservations}}
        <div class="col-sm-6 p-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{first_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{last_name}}</h6>
                    <p class="card-text">{{email}}</p>
                    <div class="text-center">
                        <h4 class="mb-5"><span class="badge bg-secondary">Phone number: {{phone_number}}</span></h4>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
